.note-type-badge {
  width: fit-content;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 0.5em;
  padding: 0 0.5em;
  border-radius: 12px;
  background-color: rgba(var(--note-color), 0.3);

  p {
    padding-bottom: 2px;
  }
}

.note-type-badge div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid gray;
  background: rgb(var(--note-color));
}
